{% extends "layout.html" %}

{% block content %}
<body style="background-color: rgba(71, 4, 85, 0.425);">
<br>
    Embed code for Tableau here

<b><h2>Contact Us:</h2>
    <!-- <h3>{{ message }}</h3> -->

    <address>
        Team Napa Valley<br />
        Napa, CA 94559<br />
        <abbr title="Phone">P:</abbr>
        707.251.5895
    </address></b>
<!-- 
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address> -->

</body>

{% endblock %}
